$colour1: #fff;
$colour2: #F2C94C;
$colour3: #000;
$colour4: #333;
$colour5: #006633;
$colour6: #2F80ED;
$colour7: #9B51E0;
$colour8: #EB5757;
$colour9: #F2F2F2;
// $colour10: fff;

*{
    margin: 0;
    padding: 0;
}