$colour1: #fff;
$colour2: #F2C94C;
$colour3: #000;
$colour4: #333;
$colour5: #006633;
$colour6: #2F80ED;
$colour7: #9B51E0;
$colour8: #EB5757;
$colour9: #F2F2F2;

//Importing Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Viga&display=swap');

// Card details
@mixin card ($width: 250px, $column: 250px, $bgColor: $colour1){
    width: $width;
    height: $column;
    display: grid;
    grid-template-rows: 25px 60px 60px 10px 35px 35px 25px;
    grid-template-columns: 25px 200px 25px;
    background:$bgColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: $colour9;
    font-size: 14px;
    min-height: 100vh;
}

body, header, main, .container, .card-container, .card-1, .card-2, .card-3, .card-4, .card-5, .card-6, .card-7, header nav, header nav ul, li.navItem p, footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

header{
    background: #F2F2F2f5;
    position: fixed;
    nav{
        background: #fff;
        ul{
            list-style: none;

            li.navItem{
                display: inline-block;
                height:45px;
                width: 50px;
                margin: 5px auto;

                button{
                    padding: 5px;
                    border: 0;
                    background: none;
                    max-width: 100%;
                    max-height: 100%;

                    &:hover{
                        border-bottom: 1px solid #EB5757;
                        color: #000;
                    }

                    p{
                        text-align:center;
                        font-weight:bold;
                        font-family: 'Roboto', sans-serif;               
                        
                        span{
                            width:100%;
                            font-size: 1.2em;
                            font-family: 'Viga', sans-serif;
                            ;
                        }
                    }
                }
            }
        } 
    }

    h1#title{
        margin: 35px auto;
        width: auto;
        font-family: 'Viga', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        align-items: center;
        text-align: center;
    }
}

// .center-card{
//     margin: 20px auto;
// }

.person-img{
    border-radius: 50%;
    border: 1px solid #000000;
    box-sizing: border-box;
    height: 120px;
    width: 120px;
}

p.person-name{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

p.person-role{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.card-1 .card{
    @include card();

    //Position for person img in card 1
    .person-img{
        grid-row: 2/4;
        grid-column: 2/3;
        margin: auto;
    }

    .person-details {
        grid-row: 5/7;
        grid-column: 2/3;
        display: flex;
        flex-wrap: wrap;
        /* width: auto; */
        text-align: center;
        align-items: center;
        background: #F2C94C;
        p{
            width: 100%;
            color: $colour3;
        }

        p.person-name{
            font-weight: bold;
        }

        // p.person-role{

        // }
    }
}

.card-2 .card{
    @include card();

    //Position for person img in card 1
    .person-img{
        grid-row: 2/4;
        grid-column: 2/3;
        margin: auto;
    }

    .person-details {
        grid-row: 5/7;
        grid-column: 2/3;
        display: flex;
        flex-wrap: wrap;
        /* width: auto; */
        text-align: center;
        align-items: center;
        background:transparent;
        p{
            width: 100%;
            color: $colour3;
        }

        p.person-name{
            font-weight: bold;
            color: $colour5;
        }

        // p.person-role{

        // }
    }
}

.card-3 .card{
    @include card();

    //Position for person img in card 1
    .person-img{
        grid-row: 2/4;
        grid-column: 2/3;
        margin: auto;
        z-index: 1;
        border: 5px solid $colour6;
    }

    .person-details {
        grid-row: 5/7;
        grid-column: 2/3;
        display: flex;
        flex-wrap: wrap;
        /* width: auto; */
        text-align: center;
        align-items: center;
        background:transparent;
        z-index: 1;
        p{
            width: 100%;
            color: $colour3;
        }

        p.person-name{
            font-weight: bold;
            color: $colour3;
        }

        p.person-role{
            color: $colour1;
        }
    }

    //Dummy div
    div.card-cover{
        grid-row:3/7;
        grid-column: 2/3;
        background: $colour6;
    }
}

.card-4 .card{
    @include card();
    border-radius: 50% 50% 0 0;
    //Position for person img in card 1
    .person-img{
        grid-row: 2/6;
        grid-column: 2/3;
        margin: auto;
    }

    .person-details {
        grid-row: 6/8;
        grid-column: 2/3;
        display: flex;
        flex-wrap: wrap;
        /* width: auto; */
        text-align: center;
        align-items: center;
        background:transparent;
        p{
            width: 100%;
            color: $colour3;
        }

        p.person-name{
            font-weight: bold;
            color: $colour6;
        }
    }
}

.card-5 .card{
    @include card();
    border-radius: 50% 50% 0 0;
    //Position for person img in card 1
    .person-img{
        grid-row: 2/6;
        grid-column: 2/3;
        margin: auto;
    }

    .person-details {
        grid-row: 6/8;
        grid-column: 2/3;
        display: flex;
        flex-wrap: wrap;
        /* width: auto; */
        text-align: center;
        align-items: center;
        background:transparent;
        p{
            width: 100%;
            color: $colour3;
        }

        p.person-name{
            font-weight: bold;
            color: $colour7;
        }
    }

    div.card-cover{
        border: 2px solid $colour7;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $colour1;
        grid-row: 1/2;
        grid-column: 2/3;
        margin: auto;
    }
}

.card-6 .card{
    @include card();
    border-radius: 50% 50% 0 0;
    //Position for person img in card 1
    .person-img{
        grid-row: 2/6;
        grid-column: 2/3;
        margin: auto;
    }

    .person-details {
        grid-row: 6/8;
        grid-column: 2/3;
        display: flex;
        flex-wrap: wrap;
        /* width: auto; */
        text-align: center;
        align-items: center;
        background:transparent;
        p{
            width: 100%;
            color: $colour3;
        }

        p.person-name{
            font-weight: bold;
            color: $colour8;
        }
    }

    div.card-cover{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $colour8;
        grid-row: 1/2;
        grid-column: 2/3;
        margin: auto;
    }
}

.card-7 .card{
    @include card();
    border-radius: 50% 50% 0 0;
    //Position for person img in card 1
    .person-img{
        grid-row: 2/6;
        grid-column: 2/3;
        margin: auto;
    }

    .person-details {
        grid-row: 6/8;
        grid-column: 1/4;
        display: flex;
        flex-wrap: wrap;
        /* width: auto; */
        text-align: center;
        align-items: center;
        background:$colour6;
        p{
            width: 100%;
            color: $colour3;
        }

        p.person-name{
            font-weight: bold;
            color: $colour1;
        }
    }

    div.card-cover{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $colour6;
        grid-row: 1/2;
        grid-column: 2/3;
        margin: auto;
    }
}

footer{
    margin-top: 25px;
    padding: 15px;
    background: $colour1;
    p#footer-text{
        font-family: 'Viga', sans-serif;
        font-weight: bold;
        text-align: center;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img#cassavaApp{
            height: 30px;
            width: 30px;
        }
    }
}

li.navItem.selected p{
    color: $colour8;
}